.user {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0.5rem;
  width: 40%;
  margin: 10px auto;
}

.user-name {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
}

.user-email {
  font-size: 0.9rem;
}

.user-company {
  margin: 0;
  font-size: 1.15rem;
}

